body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #fff;
    text-align: center;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header nav a{
    color:#fff;
    margin: 0 15px;
    text-decoration:none;

}

form{
    background: #fff;
    width:320px;
    margin:20px auto;
    padding: 20px;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
